html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-wrap {
    flex-grow: 1;
}

.main-container {
    flex-direction: column;
    height: 100%;
    Width: 1200px;
    margin: 0 auto;
}

header {
    width: 1060px;
    margin: 0 auto;
}

.navigation-list,
.navigation-user,
.lists-container,
.main-container,
.nav-container {
    display: flex; 
}



.wrap-grid-container-111,
.wrap-grid-container-12,
.wrap-grid-container-21 {
    display: grid;
}

ul.navigation-list,
ul.navigation-user {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-logo {
    padding-right: 30px;
    margin-bottom: -5px;
    z-index: 1;
}
.logo {
    font-size: 0;
    display: block;
}


.navigation-link {
    display: block;
    padding: 20px 0;
    margin: 0 17px;
}

.active {
    border-bottom: 2px solid #756257;
    box-sizing: border-box;
}

ul.navigation-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button-header,
.navigation-link {
    min-width: 23px;
    min-height: 28px;
}

.button-header {
    padding: 8px;
    margin-top: 12px;
    min-height: fit-content;
    width: 160px;
}

.lists-container {
    flex-grow: 1;
    justify-content: space-between;
}


.reasons-item-container,
.reasons-item-house,
.reasons-item-food,
.reasons-item-souvenir {
    height: 384px;
}



.wrap-grid-container-111 {
    grid-template-columns: 1fr 1fr 1fr;
}

.wrap-grid-container-21 {
    grid-template-columns: 2fr 1fr; 
}


.lists-container {
    margin: 0px;
}



.navigation-list,
.navigation-user {
    list-style-type: none;
    padding: 0 px;
    margin: 0;
}


.reasons-item-container,
.reasons-item-house,
.reasons-item-food,
.reasons-item-souvenir {
display: flex;
flex-direction: column;
justify-content: flex-end;
padding: 0 75px;
}





.navigation-item {
    margin: 0px;
}

.wrap-title {
    display: block;
    padding: 63px 240px 80px; 
}
.reasons-title {
    margin: 0 0 31px 0;
}
.reasons-text {
    margin: 0;
}

.booking {
    padding: 91px 240px 93px;
}
.booking-title {
    margin: 0 0 29px 0;
}
.booking-text {
    margin: 0 0 56px 0;
}
.booking-button {
   display: block;
   padding: 15px;
   width: 575px;
   margin: auto;
}

.suscribe-main,
.suscribe {
    display: block;
    height: 317px;
    margin: 0;
    padding: 94px 200px 0 200px;
}
.suscribe-title {
    margin: 0px 0 29px 0;
}

.suscribe-form {
    display: flex;
    padding: 0;
    justify-content: center;
}
.field-input {
    padding-left: 22px;
    width: 600px;
    height: 60px;
}
.suscribe-button {
    padding: 20px;
    border: none;
}





.wrap-grid-container-12 {
    grid-template-columns: 1fr 2fr;
}





.main-footer,
.inner-footer {
   display: flex;
   justify-content: space-between;
   padding: 40px 71px;
}
.social-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}
.social-item {
    width: 20px;
}





.reasons-list,
.reasons-item-sublist {
    list-style-type: none;
    padding: 0;
}

.reasons-item-image {
    display: block;
    font-size: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }



.wrap-pagination,
.wrap-pagination-item {
    display: flex;
}
.wrap-pagination {
    justify-content: space-between;
}


.intro {
    width: 100%;
    height: 485px;
    background: #83B3D3;
    background-image: url("../images/main/index/welcome-to-sedona.svg"), url("../images/main/index/divider.svg" ), url("../images/main/index/background-top.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, bottom, center;
}

h2, h3, h4 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  


  /*каталог*/

  .hotels {
    width: 1200px;
    height: 408px;
    padding: 35px 72px 83px;
    box-sizing: border-box;
  }

  .inner-title {
      margin: 0;
  }
  .breadcrumbs {
      display: flex;
      list-style-type: none;
  }
  .breadcrumbs-link-index {
      width: 12px;
      padding-right: 10px;
  }
  .breadcrumbs-link {
      padding: 0 10px;
  }

  .catalog-filter {
      display: flex;
      justify-content: space-between;
      margin-top: 70px;
     }

  .catalog-filter-group {
      width: 100%;
      border: 0 none;
      padding: 0;
  }
  .catalog-filter-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  .button-blue,
  .button-reset {
      padding: 0;
      margin: 0;
      width: 160px;
      height: 48px;
  }

  .select-wrap {
      display: flex;
      justify-content: space-between;
      margin: 44px 72px;
  }
  .select-control {
      width: 287px;
      padding: 12px 19px;
  }

  .inner-text {
      margin: 0;
  }
  .view {
      width: 48px;
  }

  .wrap-product-card {
      margin: 0 72px;
      display: grid;
      grid-template-columns:340px 340px 340px; 
      gap: 18px; 
  }

  .card-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 300px;
  }

  

  .product-card-price {
      width: 133px;
      margin-bottom: 20px;
  }
  .product-card-button {
      width: 133px;
      height: auto;
      padding: 9px;
      margin-bottom: 20px;
  }
      
  .product-card-button-blue,
  .buttom-green {
      width: 140px;
      height: auto;
      border: none;
      padding: 6px;
      margin-bottom: 20px;
  }

  .rating-total {
    display: block;
    padding: 10px 0;
    width: 160px;
    background: #F2F2F2;
    border-radius: 4px;
  }
  .stars {
      width: 133px;
  }

  .wrap-button-loading{
    border: 1px solid #E6E6E6;
    border-left: none;
    border-right: none;
    margin: 20px 0 ;
    padding: 20px 0;
  }

  .button-loading {
    border: none;
    padding: 17px 0;
    width: 620px;
    margin: 0 240px;
  }
  
  .pagination-item {
      list-style-type: none; 
  }
.pagination-link {
    text-decoration: none;
    padding: 20px;
    display: block;
    color: #FFFFFF;
}

.pagination-current {
    color: #000000;
}

  .suscribe-text {
    color: #333333;
  }

  
.hostel-page {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    display: block;
    margin: auto;
}
.hostel-page-select {
    margin-left: 50px;
}

/*иконки*/

.navigation-icon-number {
position: relative;
right: 15px;
bottom: 10px;
}

.reasons-item-house {
    background-image: url("../images/main/index/icon-hous.svg");
    background-repeat: no-repeat;
    background-position: 50% 70px;
}
.reasons-item-food {
    background-image: url("../images/main/index/icon-food.svg");
    background-repeat: no-repeat;
    background-position: 50% 70px;  
}
.reasons-item-souvenir {
    background-image: url("../images/main/index/icon-souvenirs.svg");
    background-repeat: no-repeat;
    background-position: 50% 70px;
}

 .reasons-item-description {
    padding-bottom: 79px;
    margin: 0;
}
.reasons-item-title {
    margin: 0;
    padding-bottom: 20px;
}
 
.social-item {
    display: inline-block;
    margin: 0 10px;
}

.star-4 {
    background-image: url("../images/main/catalog/stars-4.svg");
    background-repeat: no-repeat;
    background-position: left;
}
.star-3 {
    background-image: url("../images/main/catalog/stars-3.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.star-2 {
    background-image: url("../images/main/catalog/stars-2.svg");
    background-repeat: no-repeat;
    background-position: left;
}


.range-scale {
    position: relative;
    margin-bottom: 16px;
    background: #353f43;
    height: 4px;
  }
  .range-bar {
    position: absolute;
    height: 4px;
    background: #FFFFFF;
  }
  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .range-toggle:hover {
  
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  
  .range-toggle:focus {
    
    border: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .range-toggle:active {
border: 2px solid #83B3D3;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  }


.toggle-min {
    top: -10px;
    left: -10px;
  }
  
  .toggle-max {
    top: -8px;
    right: -10px;
  }


/*состояния*/
.navigation-icon:hover path,
.navigation-icon-number:hover path {
    fill: #756257;
}

.navigation-icon:active path, 
.navigation-icon-number:active path {
    fill: #756257;
    opacity: 0.3;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:active{
    color: rgba(117, 98, 87, 0.3);
}

.button-header:hover,
.booking-button:hover {
    color: #FFFFFF;
    background: #615048;
}
.button-header:focus,
.booking-button:focus {
    background: #615048;
    border: 3px solid #83B3D3;
    border-radius: 4px;
}
.button-header:active,
.booking-button:active {
    background: #615048;
    color: rgba(255, 255, 255, 0.3);
}

.social-icon:hover path{
    fill: #68A2CA;
}
.social-icon:focus path {
    fill: #68A2CA;
    border: 3px solid #83B3D3;
}
.social-icon:active {
    fill: #68A2CA;
}

.suscribe-button:hover {
    background: #68A2CA;
border-radius: 0px 10px 10px 0px;
}
.suscribe-button:focus {
    background: #68A2CA;
border: 3px solid #756257;
border-radius: 0px 10px 10px 0px;
}
.suscribe-button:active {
    color: #FFFFFF;
opacity: 0.3;
background: #68A2CA;
border-radius: 0px 10px 10px 0px;
}

.field-input {
    border: none;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    opacity: 0.6;
    }

.field-input:hover {
    background: #E6E6E6;
}
.field-input:focus {
    background: #E6E6E6;
    border: 3px solid #83B3D3;
}
.field-input:invalid {
    background: #FFFFFF;
    border: 2px solid #FF5757;
}

.view {
text-decoration: none;
display: inline-block;
width: 48px;
height: 48px;
}
.view-tab {
    border: 2px solid #000000;

border-radius: 4px;
}
.view-card,
.view-list {
border: 2px solid #E6E6E6;
border-radius: 4px;
}

.view-tab,
.view-card,
.view-list {
    padding: 10px;
}
.view-tab:hover,
.view-card:hover,
.view-list:hover,
.view-tab:focus,
.view-card:focus,
.view-list:focus {
    border: 2px solid #83B3D3;
    border-radius: 4px;
}

.select-control {
color: #333333;
font-weight: 400;
font-size: 18px;
line-height: 23px;
}

.button-loading {
    cursor: pointer;
}

.button-pagination-one,
.button-pagination {
    border: none;
    margin: 8px;
}
.button-pagination:hover{
background: #68A2CA;
border-radius: 4px;
}
.button-pagination:focus {
    background: #68A2CA;
    border: 3px solid #756257;
    border-radius: 4px;
}
.button-pagination:active {
    background: #68A2CA;
    border-radius: 4px;
    color: #FFFFFF;
    opacity: 0.3;
}
.button-reset:hover {
    color: #FFFFFF;
    opacity: 0.6;
}
.button-reset:focus {
    color: #FFFFFF;
    border: 3px solid #83B3D3;
    border-radius: 4px;
}
.button-reset:active {
    color: #FFFFFF;
    opacity: 0.3;
}

.button-blue:hover{
    background: #68A2CA;
    border-radius: 4px;
}
.button-blue:focus {
    background: #68A2CA;
    border: 3px solid #FFFFFF;
    border-radius: 4px;
}
.button-blue:active {
    background: #68A2CA;
    border-radius: 4px;
    color: #FFFFFF;
    opacity: 0.3;
}



.contacts-phone:hover {
    color: #756257;
}
.contacts-phone:focus {
    color: #756257;
    border: 3px solid #83B3D3;
}
.contacts-phone:active {
    color: #756257;
    opacity: 0.3;
}

.product-card-image:hover {
    opacity: 0.6;
}
.product-card-image:focus{
    border: 3px solid #83B3D3;
}
.product-card-image:active {
    opacity: 0.3;
}
.product-card-button:hover {
    background: #615048;
    border-radius: 4px;
}
.product-card-button:focus {
    background: #615048;
    border: 3px solid #83B3D3;
    border-radius: 4px;
}
.product-card-button:active {
    background: #615048;
    border-radius: 4px;
    color: #FFFFFF;
    opacity: 0.3;
}
.product-card-button-blue:hover {
    background: #68A2CA;
    border: 1px solid #756257;
    border-radius: 4px;
}
.product-card-button-blue:focus{
    background: #68A2CA;
    border: 3px solid #756257;
    border-radius: 4px;
}
.product-card-button-blue:active {
    background: #68A2CA;
    border: 1px solid #756257;
    border-radius: 4px;
    color: #FFFFFF;
    opacity: 0.3;
}
.buttom-green:hover {
    background: #6C9E42;
    border-radius: 4px;
}
.buttom-green:focus {
background: #6C9E42;
border: 3px solid #756257;
border-radius: 4px;
}
.buttom-green:active {
    color: #FFFFFF;
    opacity: 0.3;
    background: #6C9E42;
    border-radius: 4px;
}



.catalog-filter-group {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    border: none;
  }

  .control {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

 .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
border-radius: 4px;
  }

  .control:hover input ~ .checkmark {
    background: rgba(255, 255, 255, 0.6);
    
  }
  .contril input:checked ~ .checkmark {
    background: rgba(255, 255, 255, 0.3);
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .control input:checked ~ .checkmark:after {
    display: block;
  }
  .control .checkmark:after {
    left: 5px;
    top: -1px;
    width: 5px;
    height: 13px;
    border: solid #3F5E72;;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



  .checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
  }
  .control-radio:hover input ~ .checkmark-radio {
    background-color: #FFFFFF;
  }

  .control-radio input:checked ~ .checkmark-radio {
    background-color: #ffffff;
  }
  .checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
  }

  .control-radio input:checked ~ .checkmark-radio:after {
    display: block;
  }
  
  .control-radio .checkmark-radio:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3F5E72;
  }

  .control-price {
      display: flex;
      margin-bottom: 10px;
      
  }
  .control-input-price {
      display: flex;
      width: 64px;
      border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
  }


 



/*попап*/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.8);
  }
.modal {
    position: relative;
    margin: auto;
    padding: 68px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
  }
.modal-booking {
    width: 715px;
  }
.booking-form-field {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    margin: 20px 0px;
    padding-left: 10px;
}
.modal-close-button {
    position: absolute;
    padding: 20px;
    top: 60px;
    right: 60px;
    background-color: #F2F2F2;;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  } 
  .modal-close-button:hover{
    background: #E6E6E6;
  }
  .modal-close-button:focus {
    background: #E6E6E6;
    border: 3px solid #83B3D3; 
  }
  

  .modal-title {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }

.wrap-booking {
    display: flex;
    justify-content: space-between;
}
.booking-label {
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    width: 155px;
    display: flex;
    align-items: center;
}
.field {
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    background: #F2F2F2;
    border-radius: 4px;
    border: none;
   overflow: hidden;
   width: 420px;
}

.form-adults,
.form-children {
    width: 133px;
} 

.modal-booking-button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-style: none;
    width: 575px;
    background: #83B3D3;
    border-radius: 10px;
    font-size: 20px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.tooltip {
    margin-left: 5px;
    display: flex;
}
  
.tooltip-icon {
    padding: 10px 13px;
    display: block;
}
.tooltip-toggle {
    background: #83B3D3;
    border-radius: 50%;
    border: none;
    padding: 0;
    margin: 0;
}

.tooltip-toggle:hover .tooltip-icon {
    background: #68A2CA;
    border-radius: 50%;
  }
  .tooltip-text {
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: none;
    padding: 15px 18px 18px 22px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: block;
    width: 216px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: none;
  }
  .tooltip-text:after {
    content:'';
    background-image: url("../images/main/index/tooltip.svg");
    width: 19px;
    height: 9px;
    position:absolute;
    top: 100%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
  }
  
    .tooltip-toggle:hover + .tooltip-text,
    .tooltip-toggle:focus + .tooltip-text {
    display: block;
    }

.button-calendar-icon path {
fill: #a9a9a9;
}
.button-calendar {
    display: flex;
    align-items: center;
    width: auto;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
}

.button-calendar:hover,
.button-calendar:focus {
    background: transparent;
}

.button-calendar:hover path,
.button-calendar:focus path {
fill: #000000;
}

.button-calendar:active path,
.button-calendar-icon:active path {
fill: #81b3d2;
}

.booking-text-wrong,
.booking-text-correctly {
font-weight: 400;
font-size: 16px;
line-height: 40px;
padding-left: 160px;

}
.booking-text-wrong {
    color: #FF5757;
}
.booking-text-correctly {
    color: #333333;
}

.modal-booking-button:hover {
    background: #68A2CA;
    border-radius: 10px;
}
.modal-booking-button:focus {
    background: #68A2CA;
    border: 3px solid #756257;
    border-radius: 10px;
}
.modal-booking-button:active{
    background: #68A2CA;
    border-radius: 10px;
    color: #FFFFFF;
    opacity: 0.3;
}
.form-fied-button {
    padding: 0;
    margin: 0;
    border: none;
    height: min-content;
    display: inline-block;
}

.modal-container-close {
  display: none; 
} 
